* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.logo,
.login {
  width: 200px;
  height: 70px;
  background-color: #bc5757;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.hero-text {
  width: 180px;
  height: 80px;
  background: #bc5757;
}

.hero-image {
  width: 200px;
  height: 200px;
  background: #bc5757;
}

.divider {
  height: 20px;
  width: 30%;
  background: #bc5757;
  margin: 70px auto;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.grid-item {
  width: 100px;
  height: 100px;
  background: #bc5757;
}

.grid-extra-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.grid-extra-item {
  width: 100px;
  height: 100px;
  background: #bc5757;
}

footer {
  background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-item {
  width: 200px;
  height: 30px;
  background: #bc5757;
}

.footer-square {
  margin: 10px;
  width: 200px;
  height: 30px;
  display: flex;
  gap: 10px;
}

.square-init {
  height: 30px;
  width: 30px;
  background: #bc5757;
}
